 &CONTROL
                 calculation = 'scf'
                restart_mode = 'from_scratch'
                      outdir = './tempdir/'
                  pseudo_dir = '../../pseudo/'
                      prefix = 'Pt'
 /
 &SYSTEM
                       ibrav = 2
                           a = 3.92
                         nat = 1
                        ntyp = 1
                     ecutwfc = 90
                     ecutrho = 1080
                 occupations = 'smearing'
                    smearing = 'mv'
                     degauss = 0.002
                    noncolin = .true.
                    lspinorb = .true.
 /
 &ELECTRONS
                    conv_thr = 1.0D-8
 /

ATOMIC_SPECIES
   Pt    195.07800  Pt.rel-pbe-n-kjpaw_psl.0.1.UPF

ATOMIC_POSITIONS {bohr}
Pt      0.0000000   0.0000000   0.0000000

K_POINTS {automatic}
10  10  10    0  0  0

