### Build system
cmake-build-*/
build/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


### Other
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

### IDE files
.vscode
/.idea

### Project files
/CMakeUserPresets.json
