 &control
    calculation='scf'
    restart_mode='from_scratch',
    pseudo_dir = '../../pseudo/',
    outdir='./'
    prefix='Fe'
 /
 &system
    ibrav = 3, celldm(1) =5.4235, nat= 1, ntyp= 1,
    ecutwfc =120.0
    lspinorb=.true.,
    noncolin=.true., 
    starting_magnetization(1) = -1
    occupations='smearing', smearing='cold', degauss=0.02
 /
 &electrons
    startingwfc='random'
    diagonalization='cg'
    conv_thr=1.0e-8
 /
ATOMIC_SPECIES
 Fe 55.85 Fe.jry.pbe.UPF 
ATOMIC_POSITIONS
 Fe 0.0 0.0 0.0
K_POINTS (automatic)
16 16 16 0 0 0

