&control 
    calculation = 'scf' 
    restart_mode = 'from_scratch' 
    prefix = 'Na_13chain' 
    outdir = './' 
    pseudo_dir = '../../../pseudo/'
    wf_collect = .true. 
/ 
&system 
    ibrav= 8 
    a =  42.2500 
    b = 10 
    c = 10 
    nat  = 13 
    ntyp = 1 
    ecutwfc = 30 
    occupations = 'smearing' 
    smearing = 'cold' 
    degauss = 0.007 
/ 
&electrons 
    mixing_beta = 0.2 
    conv_thr =  1.0d-10 
    diagonalization = 'cg' 
    startingwfc = 'random' 
/ 
ATOMIC_SPECIES 
 Na  22.9877  Na.pz-n-vbc.UPF 
ATOMIC_POSITIONS {crystal} 
 Na   0.0385  0.5  0.5 
 Na   0.1154  0.5  0.5 
 Na   0.1923  0.5  0.5 
 Na   0.2692  0.5  0.5 
 Na   0.3462  0.5  0.5 
 Na   0.4231  0.5  0.5 
 Na   0.4500  0.5  0.5 
 Na   0.5769  0.5  0.5 
 Na   0.6538  0.5  0.5 
 Na   0.7308  0.5  0.5 
 Na   0.8077  0.5  0.5 
 Na   0.8846  0.5  0.5 
 Na   0.9615  0.5  0.5 
K_POINTS {gamma} 
