userconfig
test.out.*
test.err.*
*.chk
*.wout
*.wpout
*_geninterp.dat
espresso-*
test_nnkpt*/wannier.nnkp
test_nnkpt*/wannier.wout
test_nnkpt*/wannier.werr
test_basic2/wannier_band.gnu
test_basic2/wannier_band.dat
test_basic2/wannier_band.kpt
pw_example0?_*/*.amn
pw_example0?_*/*.mmn
pw_example0?_*/*.eig
pw_example0?_*/*.nnkp
pw_example0?_*/*.wfc1
pw_example0?_*/*.save
pw_example0?_*/UNK*
