bands.out
bandsx.out
graphene.bands.dat
graphene.bands.dat.gnu
graphene.bands.dat.proj
graphene.bands.dat.proj.projwfc_up
graphene.bands.dat.rap
graphene.pdos_atm\#1\(C\)_wfc\#1\(s\)
graphene.pdos_atm\#1\(C\)_wfc\#2\(p\)
graphene.pdos_atm\#2\(C\)_wfc\#1\(s\)
graphene.pdos_atm\#2\(C\)_wfc\#2\(p\)
graphene.pdos_tot
graphene.plotband.gnu
graphene.plotband.pdf
graphene.plotband.ps
graphene.projbands.gnu
graphene.projbands.gnu_projected.pdf
graphene.projbands.gnu_projected.ps
out/
plotband.out
projwfc.out
scf.out
CRASH
graphene.plotband.gnu.dat
graphene.werr
graphene.wout
nscf.out
pw2wan.out
graphene.amn
graphene.eig
graphene.mmn
graphene.node_00000.werr
*.pdf
graphene.chk
graphene.nnkp
graphene_band.dat
graphene_band.gnu
graphene_band.kpt
graphene_band.labelinfo.dat
